*{margin:0; padding:0;}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
}


#root{
  width:428px;
  height:926px;
  border:1px solid black;
  background-color: #ffffff;
}